/* All Phone style */
#allPhoneshow{
    display: none;
    margin-bottom: 20px;
}
/* erro handeling */
#allphonepading{
    width: 100px;
    margin: auto;
    text-align: center;
    padding: 15px 0;
    display:none;
}
.errostyle{
    color: red;
    text-align: center;
    padding:40px ;
    display: none;
}
/*  card grid style */
.csstyle{
    display: grid;
    grid-gap: 20px;
    grid-template-columns:repeat(3,1fr);
    text-align: center;
}
/* Detail area */
.Detail-area{
    width: 40%;
    margin: auto;
}
/* card responsive */
@media only screen and (max-width: 768px) {
    .csstyle{
        grid-template-columns:repeat(2,1fr);
    }
    .Detail-area{
        width: 60%;
    }
  }
@media only screen and (max-width: 425px) {
    .csstyle{
        grid-gap: 0;
        grid-template-columns:repeat(1,1fr);
    }
    .Detail-area{
        width: 100%;
    }
  }
